<!DOCTYPE html>
<head>
  <title> SAP ERP Sample</title>
  <meta charset ="utf-8">
</head>

<body>
  <h1><p style="text-align: center;">SAP ERP Sample</h1></p>
  <form action="http://localhost/login.php" method="post"> 
  <p style="text-align: center;"> <img src="{{ url_for('static', filename='images/img1.jpg') }}" alt="Image"></p>
    <div style="display: flex; justify-content: center;">
      <table border="1">
        <thead>
          <tr>
            <th>
              <a href="ERPindex.html">What is ERP?</a>
            </th>
          </tr>
          <tr>
            <th>
              <a href="Address.html">Address</a>
            </th>
          </tr>
          <tr>
            <th>
              <a href="BusinessPartners.html">Business Partners</a>
            </th>
          </tr>
          <tr>
            <th>
              <a href="Employees.html">Employees</a>
            </th>
          </tr>
          <tr>
            <th>
              <a href="Products.html">Products</a>
            </th>
          </tr>
          <tr>
            <th>
              <a href="Sales.html">Sales</a>
            </th>
          </tr>
      </table>
    </div>
</body>
<html>