<!DOCTYPE html>
<head>
  <title>ERPindex</title>
  <meta charset ="utf-8">
</head>

<body>
  <a href ="ERP.html"><h1><p style="text-align: center;">What is ERP?</h1></a></p>
  <p style="text-align: center;"><img src="{{ url_for('static', filename='images/img2.jpg') }}"width="400" height="400" alt="Image"></p>
  <p style="text-align: center;">Enterprise Resource Planning (ERP) is a type of software that helps organizations manage and 
  integrate their important business processes.<br> It allows them to streamline and automate tasks related to finance, human resources, 
  supply chain, manufacturing, and more, using a centralized database and a set of interconnected applications.</p>
  <br>
  <form method="POST">
    <h2><p style="text-align: center;">Any Questions</h2></p>
</form>
  <form action="/fetch_pdf" method="post">
    <p style="text-align: center;"><input type="text" name="pdf_path" value="">
    <input type="submit" value="search"></p>
</form>
  <br>
  <br>
  <p style="text-align: center;">Enterprise: Refers to a large organization or company, 
    typically one that operates on a national or international scale.</p>
  <p style="text-align: center;">Resource: Refers to any asset, capability, process, information, 
    or knowledge that is owned or controlled by an organization and can be used to achieve its objectives.</p>
  <p style="text-align: center;">Planning: Refers to the process of setting goals, defining strategies, 
    and outlining tasks to achieve those goals efficiently.</p>

</body>
<html>

