<!DOCTYPE html>
<head>
  <title>Product category ID</title>
  <meta charset ="utf-8">
</head>

<body>
  <form action="http://localhost/login.php"> 
    <h1><p style="text-align: center;">Product category ID</h1></p>
    <p style="text-align: center;">Hello!<br>I am here to help you sample of SAP Product.<br>
      Please enter the Product category ID you wish to search for.<br>
      Partner ID is a 5 digit number starting from 40001 to 40009.<br><br></p>
    <p style="text-align: center;"> <img src="{{ url_for('static', filename='images/img6.jpg') }}" alt="Image"width="400" height="300"></p>
    <p style="text-align: center;">Product category ID:<input type ="text" name ="id"></p>
    <p style="text-align: center;">Submit:<input type ="submit" value ="submit"></p> 
  </form> 
</body>
<html>