<!DOCTYPE html>
<head>
  <title>Sales Order Items</title>
  <meta charset ="utf-8">
</head>

<body>
  <form action="http://localhost/login.php"> 
    <p style="text-align: center;">Sales Order Items ID</h1></p>
    <p style="text-align: center;">Hello!<br>I am here to help you sample of SAP Sales Order Items ID.<br>
      Please enter the Sales Order Items ID you wish to search for.<br>
      Sales Order Items ID is a 5 digit number starting from 50001 to 50009.<br><br></p>
    <p style="text-align: center;"><img src="img7.jpg" width="400" height="400" alt ="Erp" title ="ERP"></p>
    <p style="text-align: center;">Sales Order Items ID:<input type ="text" name ="id"></p>
    <p style="text-align: center;">Submit:<input type ="submit" value ="submit"></p> 
  </form> 
</body>
<html>